<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>583439899642-ogo6dtg0t9vrno4m4okbu777mlob9uru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583439899642-ogo6dtg0t9vrno4m4okbu777mlob9uru</string>
	<key>API_KEY</key>
	<string>AIzaSyDny_5tut-ykryxjBVgyXII0Z2t1iyaDQA</string>
	<key>GCM_SENDER_ID</key>
	<string>583439899642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MartianTribe.CheetSheet2</string>
	<key>PROJECT_ID</key>
	<string>cheetsheet-1527625077839</string>
	<key>STORAGE_BUCKET</key>
	<string>cheetsheet-1527625077839.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583439899642:ios:1478b88653a7363b</string>
	<key>DATABASE_URL</key>
	<string>https://cheetsheet-1527625077839.firebaseio.com</string>
</dict>
</plist>